<%= form_for(@board) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <h3>Create a new board</h3>
  <div class="field">
    <%= f.text_field :name, placeholder: "Enter board name..." %>
  </div>
  <div class="field">
    <%= f.text_field :description, placeholder: "Enter short description..." %>
  </div>
  <%= f.submit "Create Board", class: "btn btn-primary" %>
<% end %>