<%= link_to board do%>
  <li class="board_block" id="board-<%= board.id %>">
    <span class="board"><%= board.name %></span>
    <span class="description"><%= board.description %></span>
    <span class="timestamp">
      Created at <%= board.created_at %>.
      <% if board.user_id == current_user.id %>
        <div class='new-task'>
          <%= link_to "Delete", board, method: :delete,
                                      data: { confirm: "Are you sure?" } %>
        </div>
      <% end %>
    </span>
  </li>
<% end %>