<div class="board-title"><%= @board.name %></div>
<div class="board-desc"><%= @board.description %></div>
<div class="board-users">
  Users: 
  <% @users.each do |user| %>
    <%=user.name %>,
  <% end %>
</div>

  <% @lists.each do |list| %>
    <div class="task-lists">
      <div class="list-name"><%= list.name %> </div>
      <div class='tasks'>
        <% if list.tasks.any? %>
          <% list.tasks.each do |task|  %>
            <div class='task'>
              <%= render task %>
            </div>
          <% end %>
        <% else %>
          <h2> No tasks </h2>
        <% end %>
        <div class='new-task'><%= link_to "New Task", board_path%></div>
      </div>
    </div>
  <% end %>
<%= link_to "New Task List", board_path %>
